export(augmented_recording)
export(continuous_duration_recording)
export(eq_dist)
export(event_counting)
export(F_const)
export(F_exp)
export(F_gam)
export(F_gam_mix)
export(F_unif)
export(intermittent_transition_recording)
export(interval_recording)
export(momentary_time_recording)
export(r_behavior_stream)
export(reported_observations)
